:root {
    --primary-color: #FFD236;
    --secondary-color: #FF7C36;
    --tertiary-color: #d7d8da;
    --header-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: var(--tertiary-color);
    background: url(../images/page-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
}

body {
    color: var(--tertiary-color);
    font-family: 'Montserrat', Helvetica, sans-serif;
}

/* Header and Navigation style */

header {
    background-color: var(--header-color);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    font-size: 55px;
    padding: 5px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to right, var(--primary-color),
    var(--secondary-color));
}

header h1 a {
    text-decoration: none;
    color: var(--header-color);
    padding: 0 15px 0 80px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 15px 90px 15px 0;
}

header nav ul li a {
    color: var(--tertiary-color);
    font-size: 25px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--header-color);
    border: 0;
}

/* Section style */

section {
    padding: 60px;
}

.section-title {
    color: whitesmoke;
    font-size: 2rem;
    text-align: right;
    border-right: 5px solid var(--primary-color);
    flex: 1 20%;
    padding-right: 20px;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.content-section {
    display: flex;
    flex-wrap: wrap;
}

.flex-padding {
    flex: 3 75%;
    padding: 0 40px;
}

/* Hero/Jumbotron section */

.hero {
    height: 400px;
    background: url(../images/hero-bg.png) center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero div h2 {
    font-family: 'Playball', cursive;
    font-size: 6rem;
    color: var(--primary-color);
    text-align: center;
    padding: 10px 15px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

/* About Me section */

.about-me-text {
    font-size: 18px;
    line-height: 1.5;
    text-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.about-me-text p:first-child {
    font-size: 2rem;
    color: #FFE485;
    font-family: 'Source Code Pro', monospace;
}

/* Work section*/

.project-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.project-card {
    position: relative;
    height: 14vw;
}

.project-content {
    border: 5px solid var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.overlay-bg {
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-bg p{
    color: white;
    font-size: 2rem;
}

.overlay-bg:hover {
    opacity: 1;
}

.project-card:first-child {
    grid-column: 1 / 3;
    height: 28vw;
}

.project-img img {
    width: 100%;
}

.project-label {
    font-size: 1.6vw;
    line-height: 1.3;
    color: var(--header-color);
    background: var(--primary-color);
    padding: 5px 15px;
    position: absolute;
    margin-bottom: 1.2vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px 5px 7px rgba(0, 0, 0, 0.5);
}

.project-label p {
    font-size: 1.2vw;
    font-style: italic;
}

/* Contact Me section */

#contact-me-section {
    align-items: center;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    line-height: 1.8;
}

.contact-info ul li a {
    font-size: 25px;
    padding: 5px 10px;
    color: var(--tertiary-color);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.contact-info ul li a:hover {
    background: var(--primary-color);
    color: var(--header-color);
    border: 0;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding: 0;
    }

    header h1 {
        padding: 7px 0;
        font-size: 40px;
        width: 100%;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    header h1 a {
        padding: 0;
    }

    header nav {
        padding: 10px 0;
        line-height: 1.8;
    }

    header nav ul {
        justify-content: center;
        margin: 0;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title {
        border: 0;
        border-bottom: 5px solid var(--primary-color);
        text-align: center;
        margin-bottom: 25px;
        padding: 15px 0;
    }
    
    section {
        padding: 10px 60px;
    }

    .hero div h2 {
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    .about-me-text, .project-section, .contact-info {
        flex: 100%
    }

    .project-section {
        gap: 1rem;
    }

    .project-card {
        height: 16vw;
    }

    .project-img img {
        width: 110%;
    }

    .project-label {
        font-size: 20px;
    }
    
    .project-label p {
        font-size: 15px;
    }
    
    .contact-info {
        margin-bottom: 40px;
    }

    .contact-info ul li a {
        font-size: 22px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    section {
        padding: 10px 15px;
    }

    .hero {
        justify-content: center;
    }

    .hero div h2 {
        font-size: 4.5rem;
    }

    .about-me-text {
        font-size: 18px;
    }

    .about-me-text p:first-child {
        font-size: 1.8rem;
    }

    .project-card {
        height: 18vw;
    }

    .contact-info {
        padding: 0;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
    header nav ul li a {
        margin: 5px;
    }

    .section-title {
        font-size: 24px;
    }

    .about-me-text, .project-section, .contact-info {
        padding: 0 20px;
    }

    .project-section {
        grid-template-columns: auto;
    }

    .project-card {
        height: 40vw;
    }

    .project-card:first-child {
        grid-column: 1 / 2;
        height: 40vw;
    }

    .project-img img {
        width: 130%;
    }

    .project-label {
        font-size: 1.15rem;
        margin-bottom: 0.8rem;
    }

    .contact-info ul {
        flex-direction: column;
    }
}