:root {
    --primary-color: #2c80fd;
    --secondary-color: #fff;
    --tertiary-color: #172031;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}

/* Header and Navigation style */

header {
    background-color: #282e3f;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    background-color: var(--primary-color);
}

header h1 a {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 0 15px 0 80px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 80px;
}

header nav ul a {
    color: var(--primary-color);
    font-size: 30px;
    text-decoration: none;
    padding: 25px;
}

/* Section Style */

section {
    padding: 60px;
}

/* Hero/Jumbotron */

.hero {
    height: 400px;
    background-image: url(../images/hero-bg.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero div {
    font-size: 30px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
}